absl-py==2.1.0
accelerate==1.10.0
aiofiles==24.1.0
aiohappyeyeballs==2.6.1
aiohttp==3.12.15
aiohttp-retry==2.8.3
aioice==0.10.1
aiortc==1.9.0
aiosignal==1.4.0
aiosqlite==0.21.0
altair==5.5.0
annotated-types==0.7.0
anthropic==0.49.0
antlr4-python3-runtime==4.9.3
anyio==4.7.0
appnope==0.1.3
APScheduler==3.11.0
argon2-cffi==23.1.0
argon2-cffi-bindings==21.2.0
arrow==1.3.0
asgiref==3.7.2
astor==0.8.1
asttokens==2.4.0
async-lru==2.0.4
async-timeout==4.0.3
asyncua==1.1.6
attrs==23.1.0
Automat==25.4.16
av==12.3.0
babel==2.16.0
backcall==0.2.0
backoff==2.2.1
bcrypt==4.0.1
beautifulsoup4==4.12.3
bert-score==0.3.13
bleach==6.2.0
blinker==1.9.0
boto3==1.35.60
botocore==1.35.99
branca==0.8.1
bs4==0.0.2
build==1.3.0
cachetools==5.5.2
cbor==1.0.0
certifi==2024.12.14
cffi==1.16.0
charset-normalizer==3.3.1
chromadb==1.0.9
click==8.1.7
cloudpickle==3.1.1
coloredlogs==15.0.1
comm==0.1.4
constantly==23.10.4
contourpy==1.3.0
cryptography==45.0.3
cssselect==1.3.0
cycler==0.12.1
Cython==3.0.12
dacite==1.8.1
dask==2024.8.0
dask-expr==1.1.10
dataclasses-json==0.6.7
datasets==4.0.0
debugpy==1.8.0
decorator==5.1.1
defusedxml==0.7.1
deprecation==2.1.0
dill==0.3.8
distro==1.9.0
Django==4.2.6
django-ckeditor==6.7.0
django-feedparser==0.2.1
django-js-asset==2.1.0
django-mathfilters==1.0.0
djangorestframework==3.14.0
dnspython==2.7.0
docker==7.1.0
docling==2.47.1
docling-core==2.45.0
docling-ibm-models==3.9.0
docling-parse==4.2.3
drawarrow==0.0.3
duckdb==1.1.3
durationpy==0.10
easyocr==1.7.2
elastic-transport==8.17.1
elasticsearch==9.0.2
emoji==2.14.1
et-xmlfile==1.1.0
exceptiongroup==1.1.3
executing==2.0.0
faiss-cpu==1.7.4
Faker==19.13.0
fastapi==0.115.9
faster-coco-eval==1.6.5
fastjsonschema==2.21.1
feedparser==6.0.10
filelock==3.16.1
filetype==1.2.0
fire==0.7.0
FlagEmbedding==1.3.5
Flask==3.1.0
flatbuffers==25.2.10
folium==0.19.3
fonttools==4.43.1
fqdn==1.5.1
frozenlist==1.5.0
fsspec==2024.12.0
ftfy==6.3.1
fuzzywuzzy==0.18.0
geopandas==1.0.1
git-filter-repo==2.47.0
git-lfs==1.6
gitdb==4.0.12
GitPython==3.1.44
google==3.0.0
google-ai-generativelanguage==0.6.15
google-api-core==2.25.1
google-api-python-client==2.178.0
google-auth==2.40.3
google-auth-httplib2==0.2.0
google-auth-oauthlib==1.2.2
google-crc32c==1.7.1
google-generativeai==0.8.5
googleapis-common-protos==1.70.0
gotrue==2.12.4
graphviz==0.20.3
groq==0.31.0
grpcio==1.74.0
grpcio-status==1.71.2
h11==0.14.0
h2==4.2.0
haversine==2.9.0
hf-xet==1.1.3
highlight-text==0.2
hpack==4.1.0
htmlmin==0.1.12
httpcore==1.0.7
httplib2==0.22.0
httptools==0.6.4
httpx==0.28.1
huggingface-hub==0.34.4
humanfriendly==10.0
hydra-core==1.3.2
hyperframe==6.1.0
hyperlink==21.0.0
idna==3.7
ifaddr==0.2.0
ijson==3.4.0
ImageHash==4.3.1
imageio==2.37.0
imageio-ffmpeg==0.6.0
imbalanced-learn==0.12.4
imblearn==0.0
importlib-metadata==6.8.0
importlib-resources==6.1.0
incremental==24.7.2
inference==0.50.3
inference-cli==0.50.1
iniconfig==2.1.0
inscriptis==2.6.0
ipykernel==6.25.2
ipython==8.16.1
ipywidgets==8.1.5
ir_datasets==0.5.11
isoduration==20.11.0
itemadapter==0.12.1
itemloaders==1.3.2
itsdangerous==2.2.0
jedi==0.19.1
Jinja2==3.1.4
jiter==0.8.2
jmespath==1.0.1
joblib==1.4.2
json5==0.10.0
jsonlines==3.1.0
jsonpatch==1.33
jsonpointer==3.0.0
jsonref==1.1.0
jsonschema==4.23.0
jsonschema-specifications==2024.10.1
jupyter-events==0.11.0
jupyter-lsp==2.2.5
jupyter_client==8.4.0
jupyter_core==5.4.0
jupyter_server==2.15.0
jupyter_server_terminals==0.5.3
jupyterlab==4.3.4
jupyterlab_pygments==0.3.0
jupyterlab_server==2.27.3
jupyterlab_widgets==3.0.13
kaggle==1.6.17
kiwisolver==1.4.5
kubernetes==33.1.0
langchain==0.3.27
langchain-chroma==0.2.5
langchain-core==0.3.74
langchain-groq==0.3.7
langchain-huggingface==0.3.1
langchain-openai==0.3.31
langchain-text-splitters==0.3.9
langsmith==0.4.16
lap==0.5.12
latex2mathml==3.78.0
lazy_loader==0.4
lazypredict==0.2.13
Levenshtein==0.27.1
liac-arff==2.5.0
lightgbm==4.5.0
lightning-utilities==0.14.3
llvmlite==0.43.0
locket==1.0.0
lxml==5.4.0
lz4==4.4.4
Markdown==3.7
markdown-it-py==3.0.0
marko==2.2.0
MarkupSafe==3.0.2
marshmallow==3.26.1
matplotlib==3.9.4
matplotlib-inline==0.1.6
mdurl==0.1.2
mistune==3.1.0
mlxtend==0.23.0
mmh3==5.2.0
moviepy==2.1.2
mpire==2.10.2
mpmath==1.3.0
multidict==6.1.0
multimethod==1.12
multiprocess==0.70.16
mypy_extensions==1.1.0
narwhals==1.41.0
nbclient==0.10.2
nbconvert==7.16.4
nbformat==5.10.4
nest-asyncio==1.5.8
networkx==3.2.1
ninja==1.13.0
nltk==3.9.1
notebook==7.3.2
notebook_shim==0.2.4
numba==0.60.0
numpy==1.26.4
nvidia-ml-py==12.575.51
oauthlib==3.3.1
odfpy==1.4.1
omegaconf==2.3.0
onnxruntime==1.19.2
openai==1.101.0
opencage==3.0.4
opencv-contrib-python==4.10.0.84
opencv-python==4.10.0.84
opencv-python-headless==4.10.0.84
openpyxl==3.1.5
opentelemetry-api==1.36.0
opentelemetry-exporter-otlp-proto-common==1.36.0
opentelemetry-exporter-otlp-proto-grpc==1.36.0
opentelemetry-instrumentation==0.57b0
opentelemetry-instrumentation-asgi==0.57b0
opentelemetry-instrumentation-fastapi==0.57b0
opentelemetry-proto==1.36.0
opentelemetry-sdk==1.36.0
opentelemetry-semantic-conventions==0.57b0
opentelemetry-util-http==0.57b0
orjson==3.11.2
outcome==1.3.0.post0
overrides==7.7.0
packaging==24.2
paho-mqtt==1.6.1
pandas==2.2.3
pandasai==2.4.2
pandocfilters==1.5.1
parsel==1.10.0
parso==0.8.3
partd==1.4.2
patsy==0.5.6
pdfkit==1.0.0
pdfminer.six==20250506
pdfplumber==0.11.7
peft==0.17.1
pexpect==4.8.0
phik==0.12.4
pickleshare==0.7.5
pillow==10.4.0
pillow_heif==0.22.0
pipdeptree==2.28.0
platformdirs==3.11.0
plotly==5.24.1
pluggy==1.6.0
portalocker==3.2.0
postgrest==1.0.2
posthog==6.6.0
proglog==0.1.10
prometheus-fastapi-instrumentator==6.0.0
prometheus_client==0.21.1
prompt-toolkit==3.0.39
propcache==0.2.1
Protego==0.5.0
proto-plus==1.26.1
protobuf==5.29.3
psutil==5.9.6
ptyprocess==0.7.0
pure-eval==0.2.2
py-cpuinfo==9.0.0
py_vncorenlp==0.1.4
pyarrow==20.0.0
pyasn1==0.6.1
pyasn1_modules==0.4.2
pybase64==1.0.2
pybboxes==0.1.6
pyclipper==1.3.0.post6
pycocotools==2.0.8
pycparser==2.21
pydantic==2.9.2
pydantic-settings==2.7.1
pydantic_core==2.23.4
pydeck==0.9.1
PyDispatcher==2.0.7
pydot==2.0.0
pyee==13.0.0
pyfonts==0.0.2
Pygments==2.16.1
pyjnius==1.6.1
PyJWT==2.10.1
pylatexenc==2.10
pylibsrtp==0.12.0
pylogix==1.0.5
pymodbus==3.8.3
pymongo==4.14.0
PyMuPDF==1.26.3
pynput==1.8.1
pyobjc-core==11.1
pyobjc-framework-ApplicationServices==11.1
pyobjc-framework-Cocoa==11.1
pyobjc-framework-CoreText==11.1
pyobjc-framework-Quartz==11.1
pyogrio==0.10.0
pyOpenSSL==25.1.0
pypalettes==0.1.4
pyparsing==3.2.3
pypdfium2==4.30.0
PyPika==0.48.9
pyproj==3.6.1
pyproject_hooks==1.2.0
PySocks==1.7.1
pytest==8.4.0
python-bidi==0.6.6
python-crfsuite==0.9.11
python-dateutil==2.8.2
python-decouple==3.8
python-docx==1.2.0
python-dotenv==1.0.1
python-json-logger==3.2.1
python-Levenshtein==0.27.1
python-pptx==1.0.2
python-slugify==8.0.4
pytz==2023.3.post1
pyvi==0.1.1
PyWavelets==1.6.0
PyYAML==6.0.2
pyzmq==25.1.1
qdrant-client==1.15.1
queuelib==1.8.0
RapidFuzz==3.13.0
realtime==2.4.3
redis==5.0.8
referencing==0.35.1
regex==2024.11.6
requests==2.32.3
requests-file==2.1.0
requests-oauthlib==2.0.0
requests-toolbelt==1.0.0
rf-clip==1.1
rfc3339-validator==0.1.4
rfc3986-validator==0.1.1
rich==13.9.4
roboflow==1.1.63
rpds-py==0.22.3
rsa==4.9.1
rtree==1.4.1
s3transfer==0.10.4
safetensors==0.5.3
sahi==0.11.23
scikit-image==0.24.0
scikit-learn==1.6.0
scipy==1.13.1
Scrapy==2.13.3
seaborn==0.13.0
selenium==4.27.1
semchunk==2.2.2
Send2Trash==1.8.3
sentence-transformers==5.0.0
sentencepiece==0.2.1
sentry-sdk==2.26.1
service-identity==24.2.0
sgmllib3k==1.0.0
shapely==2.0.6
shellingham==1.5.4
six==1.16.0
sklearn-crfsuite==0.5.0
slack_sdk==3.33.5
smmap==5.0.2
sniffio==1.3.0
sortedcontainers==2.4.0
soupsieve==2.6
SQLAlchemy==2.0.37
sqlglot==25.34.1
sqlglotrs==0.3.0
sqlparse==0.4.4
stack-data==0.6.3
starlette==0.45.3
statsmodels==0.14.4
storage3==0.11.3
streamlit==1.45.1
StrEnum==0.4.15
structlog==24.4.0
supabase==2.15.1
supafunc==0.9.4
supervision==0.25.1
swifter==1.4.0
sympy==1.13.1
tabulate==0.9.0
tenacity==9.0.0
tensorboard==2.19.0
tensorboard-data-server==0.7.2
termcolor==3.1.0
terminado==0.18.1
terminaltables==3.1.10
text-unidecode==1.3
thop==0.1.1.post2209072238
threadpoolctl==3.2.0
tifffile==2024.8.30
tiktoken==0.11.0
tinycss2==1.4.0
tldextract==5.1.3
tokenizers==0.21.1
toml==0.10.2
tomli==2.2.1
toolz==1.0.0
torch==2.6.0
torch-summary==1.4.5
torchaudio==2.6.0
torchinfo==1.8.0
torchmetrics==1.7.1
torchvision==0.21.0
tornado==6.3.3
tqdm==4.67.1
traitlets==5.11.2
transformers==4.52.4
trec-car-tools==2.6
treelib==1.7.0
trio==0.22.2
trio-websocket==0.11.1
twilio==9.3.8
Twisted==25.5.0
typeguard==4.4.0
typer==0.12.5
types-python-dateutil==2.9.0.20241206
typing-inspect==0.9.0
typing_extensions==4.14.1
tzdata==2023.3
tzlocal==5.3.1
# Editable install with no version control (ultralytics==8.3.150)
-e /Library/Frameworks/Python.framework/Versions/3.9/lib/python3.9/site-packages
ultralytics-thop==2.0.14
unlzw3==0.2.3
uri-template==1.3.0
uritemplate==4.2.0
urllib3==1.26.20
uvicorn==0.34.1
uvloop==0.21.0
visions==0.7.6
w3lib==2.3.1
wait-for2==0.3.2
warc3-wet==0.2.5
warc3-wet-clueweb09==0.2.5
watchfiles==1.1.0
wcwidth==0.2.8
webcolors==24.11.1
webencodings==0.5.1
websocket-client==1.8.0
websockets==14.2
Werkzeug==3.1.3
widgetsnbextension==4.0.13
wordcloud==1.9.3
wrapt==1.17.3
wsproto==1.2.0
xgboost==2.1.2
xlsxwriter==3.2.5
xmltodict==0.15.0
xxhash==3.5.0
xyzservices==2024.9.0
yarl==1.18.3
ydata-profiling==4.12.0
yellowbrick==1.5
zipp==3.17.0
zlib-state==0.1.9
zope.interface==7.2
zstandard==0.24.0
zxing-cpp==2.2.0
